<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Sejam Bem Vindos ao meu blog!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <p class="text-center">Meu nome é Gabriel Cristhiê. Sou desenvolvedor Júnior atuando em projetos próprios e freelancers.<br> <br> Sou estudante de Sistemas de Informação na Universidade Federal de Goiás.<br> <br>
      Sou apaixonado por tecnologia e os impactos que ele tem sobre a vida humana. Portanto me dedico para me aperfeiçoar nas melhores ferramentas e frameworks do mercado. Ensinar o que sei é umas das minhas atuais prioridades, por isso criei esses blog! 
      </p>
    </div>
  </div>
    <div class="parallax"></div>
    

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
    </div>
  </div>
</div>